html, body {
  margin: 0;
  padding: 0;
  background-color: black;

  height:100vh;
  font-size: 12vw;
  text-transform: uppercase;
  overflow: hidden;
  color: white;
  text-align: center;
}
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.illusion {
  position: center;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  height: fit-content;
  bottom: 0;
  top: 0;

}

p {
  font-family: cursive;
  font-size: 1vw;
  font-style: italic;
  font-weight: 100vh;
  text-align: center;
  color: white;
}
